@charset "UTF-8";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul > li {
  color: rgba(255, 255, 255, 0.8);
  list-style: none;
}

// ヘッダー
.button {
  margin-bottom: 100px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 130px;
  min-height: 100vh;
  background-color: rgba($color: #0e2669, $alpha: 0.8);
  transition: 0.5s ease-in-out;

  &-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 50px;
    transition: all 0.5s ease-in-out;
  }

  &-logo {
    width: 74px;
    height: 263px;
    transition: 0.5s ease-in-out;
  }

  &-instagram-logo {
    margin-left: 0;
    transition: 0.5s ease-in-out;

    & small {
      display: none;
    }
  }

  &.open {
    width: 460px;

    & .header-inner {
      padding-top: 0;
      padding-bottom: 20px;
    }

    & .header-logo {
      transform: rotate(-90deg);
    }

    & .button {
      margin-left: 390px;
    }

    & .header-instagram-logo {
      & img {
        width: 25px;
        height: auto;
        vertical-align: middle;
      }

      & small {
        display: inline;
        padding-right: 10px;
      }
    }
  }
}

.nav-button {
  width: 40px;
  height: 36px;
  font-size: 2rem;
  cursor: pointer;
}

.nav-menu {
  position: absolute;
  top: 25%;
  left: 100px;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s ease;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

ul > * + * {
  margin-top: 3rem;
}

//ヒーローヘッダー
html {
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  font-size: 20px;
  color: #fff;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.slider {
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  transform: translateX(100%);
}

.slide.active {
  transform: translateX(0);
}

.slide.top {
  z-index: 3;
  transition: transform 0.5s ease;
}

.slide-1 {
  background-image: url(../img/images1.jpg);
}

.slide-2 {
  background-image: url(../img/images2.jpg);
}

.slide-3 {
  background-image: url(../img/images3.jpg);
}
